<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time-tracker</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>

<body>
    <div class="app pt-3 pb-3">
        <div class="container">
            <h1>Time-Tracker</h1>
            <button type="button" class="btn btn-primary position-relative" @click="showForm = !showForm">
                Добавить задачу +
            </button>
            <hr>
            <h2>
                Список задач:
            </h2>
            <div class="alert alert-secondary"
                v-if="taskList.length === 0"
            >
                На данный момент нет активных задач
            </div>

            <form class="mb-3" @submit.prevent="addTask"
                  v-if="showForm"
            >
                <div class="mb-3">
                    <label for="taskTitle" class="form-label">Загловок задачи</label>
                    <input type="text" class="form-control" id="taskTitle" v-model="taskTitle">
                </div>
                <div class="mb-3">
                    <label for="taskDescription" class="form-label">Описание задачи</label>
                    <textarea class="form-control" id="taskDescription" rows="3" v-model="taskDescription"></textarea>
                </div>
                <button class="btn btn-success">Добавить задачу</button>
            </form>
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger mb-2"
                    v-for="(task, index) in taskList"
                >
                    <div class="row">
                        <div class="col-12 mb-5">
                            {{ index }}
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="xl-offset-5 xl-col"></div>
                        <span class="badge bg-secondary col-xl-1 me-1 d-flex align-items-center justify-content-center mb-2">
                            {{ task.time }}
                        </span>
                        <button class="btn btn-secondary col-4 col-lg-2 col-xl-1 me-1 d-flex align-items-center justify-content-center mb-2" title="Включить таймер"
                            @click="startTimer(index)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                                <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                        </button>
                        <button class="btn btn-secondary col-4 col-lg-2 col-xl-1 me-1 d-flex align-items-center justify-content-center mb-2" title="Остановить таймер"
                              @click="pauseTimer(index)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-btn" viewBox="0 0 16 16">
                                <path d="M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z" />
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger col-4 col-lg-2 col-xl-1 me-1 d-flex align-items-center justify-content-center mb-2" title="Сбросить таймер"
                              @click="stopTimer(index)"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-btn" viewBox="0 0 16 16">
                                <path d="M6.5 5A1.5 1.5 0 0 0 5 6.5v3A1.5 1.5 0 0 0 6.5 11h3A1.5 1.5 0 0 0 11 9.5v-3A1.5 1.5 0 0 0 9.5 5h-3z" />
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                        </button>
                        <button class="btn btn-success col-4 col-lg-2 col-xl-1 me-1 mb-2">
                            Готово
                        </button>
                        <button class="btn btn-danger col-4 col-lg-2 col-xl-1 mb-2" title="Сбросить таймер">
                            Удалить
                        </button>
                    </div>
                </li>
            </ul>
            <hr>
            <h2>Выполненные задачи:</h2>
            <div class="alert alert-secondary">
                На данный момент нет выполненных задач
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success d-flex justify-content-between flex-column">
                    <div>
                        <h3 class="text-decoration-line-through">Title</h3>
                        <p class="text-decoration-line-through">An item</p>
                    </div>
                    <div>
                        <span>Время выполнения: </span>
                        <span class="badge bg-secondary col-12 col-md-2 mb-2">01:21:20</span>
                        <button class="btn btn-info" title="Сбросить таймер">
                            Вернуть
                        </button>
                        <button class="btn btn-danger" title="Сбросить таймер">
                            Удалить
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>